<div class="header">
    <div class="header__brand"><span class="header__span">COM</span>PANY</div>
    <div class="header__menu">
        <ul class="header__list">
            <li class="header__item"><a [routerLink]="['home']" routerLinkActive="active-link">HOME</a></li>
            <li class="header__item"><a [routerLink]="['about']" routerLinkActive="active-link">ABOUT US</a></li>
            <li class="header__item"> <a [routerLink]="['services']" routerLinkActive="active-link">SERVICES</a></li>
            <li class="header__item"><a [routerLink]="['port']" routerLinkActive="active-link">PORTFOLIO</a></li>
            <li class="header__item"><a [routerLink]="['blog']" routerLinkActive="active-link">BLOG</a></li>
            <li class="header__item"><a [routerLink]="['contact']" routerLinkActive="active-link">CONTACT US</a></li>
        </ul>
    </div>
</div>
<!-- edi active-link class name nv link clcick cheste ee class applt avutundi nv e lass ki color gree pettali  -->