$color-white:#fff;
$bg-color:green;
$myfont:14px;
$font:1.2rem;
body{
    padding:0px;
    margin:0px;
}
.footer {
    margin-top: 4rem;
    background-color:#1BBD36;
    align-items: center;
    display: flex;
justify-content: space-between;
padding: 0px 8rem;

    &__icons {
        padding: 24px;
    }
    &__icons1{
        padding-right:2rem;
        font-size:$font;
        color:$color-white;
        opacity:0.8;
    }
    &__content{
        font-size:$myfont;
        color:$color-white;
        opacity:0.8;
    }
}
