<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="about">
    <div class="about__nav">
        <ul class="about__list">
            <li class="about__item">HOME</li>
            <li class="about__item1">/ABOUTUS</li>
        </ul>
    </div>
    <div class="about__content">{{responseContentData.content}}</div>
    <div class="row about__row">
        <div class="col-sm-7 about__column ">
            <img src="assets/angularimg.jpg">
            <div class="about__text">{{responseContentData.text}}</div>
            <div class="about__text2">{{text2}}
            </div>
            <div class="about__text2">{{text2}}
            </div>
        </div>
        <div class="col-sm-5 about__column1 ">
            <div class="about__content1">{{content1}}</div>
            <div class="about__content2">{{content2}} </div>
            <div class="about__heading">{{heading}}</div>
            <div class="progress">
                <div class="progress__bar ">85%</div>
            </div>
            <div class="about__heading1"> {{heading1}}</div>
            <div class="progress1">
                <div class="progress__bar">95%</div>
            </div>
            <div class="about__heading2"> {{heading2}}</div>
            <div class="progress2">
                <div class="progress__bar ">80%</div>
            </div>
            <div class="about__heading3"> {{heading3}}</div>
            <div class="progress3">
                <div class="progress__bar ">90%</div>
            </div>
        </div>
    </div>
    <div class="row about__last">
        <div class="col-sm-4 ">
            <img class="about__img" src="assets/jhon.jpg">
            <div class="about__name">{{name}}}</div>
            <div class="about__name1">{{name1}}</div>
        </div>
        <div class="col-sm-4 ">
            <img  class="about__img" src="assets/jhon1.jpg">
            <div class="about__name">{{name}}</div>
            <div class="about__name1">{{name1}}</div>
        </div>
        <div class="col-sm-4 ">
            <img class="about__img" src="assets/jhon2.jpg">
            <div class="about__name">{{name}}</div>
            <div class="about__name1">{{name1}}</div>
        </div>
    </div>
</div>