<div class="port">
    <div class="port__nav">
        <ul class="port__list">
            <li class="port__item">HOME</li>
            <li class="port__item1">/ABOUTUS</li>
        </ul>
    </div>
    <div class="port__text">{{text}}
    </div>
    <div class="port__btn">
        <ul class="port__list">
            <li>
                <button class="port__btn1">{{btn}}</button>
            </li>
            <li>
                <button class="port__btn2">{{btn2}}</button>
            </li>
            <li>
                <button class="port__btn2">{{btn3}}</button>
            </li>
            <li>
                <button class="port__btn2">{{web}}</button>
            </li>
        </ul>
    </div>
    <div class="row port__row">
        <div class="col-sm-3 ">
            <img src="assets/port1.png">
            <div class="port__content">{{business}}</div>
            <div class="port__content1">{{content1}} </div>
            <div class="port__icon">
                <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                <span>{{view}}</span>
            </div>
        </div>
        <div class="col-sm-3 ">
                <img src="assets/port2.png">
                <div class="port__content">{{business}}</div>
                <div class="port__content1">{{content1}}</div>
                <div class="port__icon">
                    <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                    <span>{{view}}</span>
                </div>
        </div>
        <div class="col-sm-3 ">
                <img src="assets/port3.png">
                <div class="port__content">{{business}}</div>
                <div class="port__content1">{{content1}}</div>
                <div class="port__icon">
                    <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                    <span>{{view}}</span>
                </div>    
        </div>
        <div class="col-sm-3">
                <img src="assets/port4.png">
                <div class="port__content">{{business}}</div>
                <div class="port__content1">{{content1}}
                </div>
                <div class="port__icon">
                    <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                    <span class="port__icn">{{view}}</span>
                </div>    
        </div>

    </div>
</div>
<!-- ok che artham ienda ssss inkoti paina header ku postion sticky petta top 0 chesa but
    mari kindai potundi? e <!-- --> -->