<div class="contact">
        <div class="contact__nav">
                <ul class="contact__list">
                    <li class="contact__item">HOME</li>
                    <li class="contact__item1">/ABOUTUS</li>
                </ul>
            </div>
        
    <div class="contact__header">Drop Your Messageng s</div>
    <div class="contact__header1">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    <div class="form contact__form">
        <div class="contact__form1">
        <input class="contact__form2" type="text" placeholder="Your Name">
</div>
<div class="contact__form1">
        <input class="contact__form2" type="text" placeholder="Your Email">
</div>
<div class="contact__form1">
        <input  class="contact__form2" type="text" placeholder="Subject">
</div>
<div class="contact__form1">
    <textarea  class="contact__form3" rows="5" placeholder="message"></textarea>
</div>
    </div>
    <button class="contact__btn1">Submit message</button>
</div>

