<div class="service">
    <div class="service__header">{{header}}</div>
    <div class="row service__row">
        <div class="col-sm-6  ">
            <img src="assets/service.jpg">
            <div class="service__content">{{content}} </div>
        </div>
        <div class="col-sm-6 ">
            <div class="service__text">
                <span><i class="fa fa-pencil service__text1" aria-hidden="true"></i></span>
                <span>{{web}}</span>
            </div>
            <div class="service__text2">{{text2}}
            </div>
            <div class="service__text">
                <span><i class="fa fa-book service__text1" aria-hidden="true"></i></span>
                <span>{{design}}</span>
            </div>
            <div class="service__text2">{{text2}}.
            </div>
            <div class="service__text">
                <span><i class="fa fa-rocket service__text1" aria-hidden="true"></i></span>
                <span> {{boot}}</span>
            </div>
            <div class="service__text2">{{text2}}.
            </div>
        </div>
    </div>
    <div class="service__last">
        <div class="row service__row">
            <div class="col-sm-6 ">
                <div class="service__text">
                    <span><i class="fa fa-pencil service__text1" aria-hidden="true"></i></span>
                    <span>{{landing}}</span>
                </div>
                <div class="service__text2">{{text2}}
                </div>
                <div class="service__text">
                    <span><i class="fa fa-book service__text1" aria-hidden="true"></i></span>
                    <span>{{taining}} </span>
                </div>
                <div class="service__text2">{{text2}}.
                </div>
                <div class="service__text">
                    <span><i class="fa fa-rocket service__text1" aria-hidden="true"></i></span>
                    <span> {{logo}}</span>
                </div>
                <div class="service__text2">{{text2}}.
                </div>
            </div>

            <div class="col-sm-6  ">
                <img src="assets/service.jpg">
                <div class="service__content">{{content}}
                </div>
            </div>

        </div>
    </div>
</div>