<div class="blog">
    <div class="blog__nav">
        <ul class="blog__list">
            <li class="blog__item">HOME</li>
            <li class="blog__item1">/ABOUTUS</li>
        </ul>
    </div>
    <div class="row blog__row">
        <div class="col-sm-2 ">
            <div class="blog__date">07 JULY</div>
            <div class="blog__names">
                <div class="blog__name">
                    <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    <span>jhon deo</span>
                </div>
                <div class="blog__name1">
                    <span><i class="fa fa-comment-o" aria-hidden="true"></i></span>
                    <span>2 comments</span>
                </div>
                <div class="blog__name2">
                    <span><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    <span>56 likes</span>
                </div>
            </div>
            <div class="blog__date2">
            <div class="blog__date">07 JULY</div>
            <div class="blog__names">
                <div class="blog__name">
                    <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    <span>jhon deo</span>
                </div>
                <div class="blog__name1">
                    <span><i class="fa fa-comment-o" aria-hidden="true"></i></span>
                    <span>2 comments</span>
                </div>
                <div class="blog__name2">
                    <span><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    <span>56 likes</span>
                </div>
            </div>
            </div>

        </div>
        <div class="col-sm-6 ">
            <img src="assets/blog1.jpg">
            <div class="blog__text">Consequat bibendum quam liquam viverra</div>
            <div class="blog__text1">Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget
                dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a
                metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit,
                lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.
            </div>
            <button class="blog__btn"> Read more ></button>
            <img class="blog__blogimg" src="assets/blog5.jpg">
            <div class="blog__text">Consequat bibendum quam liquam viverra</div>
            <div class="blog__text1">Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget
                dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a
                metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit,
                lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.
            </div>
            <button class="blog__btn"> Read more ></button>

        </div>
        <div class="col-sm-4 ">
            <input class="blog__input" type="text" placeholder="search here">
            <div class="blog__comments">RECENT COMMENTS</div>
            <div class="row">
                <div class="col blog__column ">
                    <div class="blog__user"><i class="fa fa-user" aria-hidden="true"></i></div>
                </div>
                <div class="col ">
                    <div class="blog__user1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div>
                    <div class="blog__user2">By Alex</div>

                </div>

            </div>
            <div class="row">
                <div class="col blog__column">
                    <div class="blog__user"><i class="fa fa-user" aria-hidden="true"></i></div>
                </div>
                <div class="col blog__column">
                    <div class="blog__user1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div>
                    <div class="blog__user2">By Alex</div>

                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="blog__user"><i class="fa fa-user" aria-hidden="true"></i></div>
                </div>
                <div class="col ">
                    <div class="blog__user1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div>
                    <div class="blog__user2">By Alex</div>

                </div>

            </div>
            <div class="blog__cat">CATEGORIES</div>
            <div class="blog__btnn1">
                <div class="blog__btnn">
                    <button class="blog__btn5">Computers</button>
                </div>
                <div class="blog__btnn">
                    <button class="blog__btn5">Smartphones</button>
                </div>
                <div class="blog__btnn">
                    <button class="blog__btn5">Getgeds</button>
                </div>
                <div class="blog__btnn">
                    <button class="blog__btn5">Technology</button>
                </div>
            </div>
            <div class="blog__achieve">ARCHIEVE</div>
            <ul class="blog__list1">
                <li class="blog__items">
                    <span class="blog__items1">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>December 2015
                        <span class="blog__num1">(97)</span>
                    </span>
                </li>
                <li class="blog__items">
                    <span class="blog__items1">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>november 2015
                        <span class="blog__num1">(32)</span>
                    </span>
                </li>
                <li class="blog__items">
                    <span class="blog__items1">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>october 2015
                        <span class=" blog__num1">(19)</span>
                    </span>
                </li>
                <li class="blog__items">
                    <span class="blog__items1">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>September 2015
                        <span class=" blog__num1">(08)</span>
                    </span>
                </li>
            </ul>

        </div>
    </div>
</div>