<div class="home">
    <div class="row home__row">
        <div class="col-sm-6 ">
            <div class="home__welcome animated fadeInUp">
                <div class="home__header">{{welcome}} <span class="home__header1">COMPANY</span></div>
                <div class="home__content">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa....</div>
                <button class="home__btn">Readmore</button>
            </div>
        </div>
        <div class="col-sm-6 ">
            <img src="assets/lady.png">
        </div>
    </div>
    <div class="row home__row1">
        <div class="col-sm-3">
            <div class="home__animation">
            <i class="fa fa-book home__icons" aria-hidden="true"></i>
            </div>
            <div class="home__response">FULL RESPONSIVE</div>
            <div class="home__response1">Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.
                </div>    
        </div>
        <div class="col-sm-3">
            <i class="fa fa-laptop home__icons" aria-hidden="true"></i>
            <div class="home__response">RETINA READY</div>
            <div class="home__response1">Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.
            </div>

        </div>
        <div class="col-sm-3">
            <i class="fa fa-heart home__icons" aria-hidden="true"></i>
            <div class="home__response">FULL RESPONSIVE</div>
            <div class="home__response1">Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.
                </div>    
        </div>
        <div class="col-sm-3 ">
            <i class="fa fa-cloud home__icons" aria-hidden="true"></i>
            <div class="home__response">FRIENDLY CODE</div>
            <div class="home__response1">Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.
                </div>    
        </div>
    </div>
    <div class="row home__row2">
        <div class="col-sm-6">
            <div class="home__title">about us </div>
            <img class="home__img" src="assets/ofc.jpg">
            <div class="home__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar
                tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo
                consectetur eget. Curabitur lacinia pellentesque
            </div>
        </div>
        <div class="col-sm-6">
            <div class="home__title">Template built with Twitter Bootstrap</div>
            <div class="home__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar
                tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo
                consectetur eget. Curabitur lacinia pellentesque
            </div>
            <div class=" home__text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                libero,
                pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo
                consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget.
                Curabitur lacinia pellentesque
            </div>
            <div class="home__text3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                libero,
                pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo
                consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget.
                Curabitur lacinia pellentesque
            </div>
        </div>
    </div>
    <div class="home__news">LATEST NEWS</div>
    <div class="row home__row3">
        <div class="col-sm-4 ">
            <img class="home__service" src="assets/service.jpg">
            <div class="home__servtext">Template built with Twitter Bootstrap</div>
            <div class="home__servtext1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum
                erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar
                tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo
                consectetur eget. Curabitur lacinia pellentesque
            </div>
        </div>
        <div class="col-sm-4 ">
            <img class="home__service" src="assets/service.jpg">
            <div class="home__servtext">Template built with Twitter Bootstrap</div>
            <div class="home__servtext1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum
                erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar
                tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo
                consectetur eget. Curabitur lacinia pellentesque
            </div>
        </div>
        <div class="col-sm-4">
            <img class="home__service" src="assets/service.jpg">
            <div class="home__servtext">Template built with Twitter Bootstrap</div>
            <div class="home__servtext1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum
                erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar
                tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo
                consectetur eget. Curabitur lacinia pellentesque
            </div>
        </div>
    </div>
</div>